# Python from Scratch
Professor: Jonatan Blank Hall

Contact: www.blankhall.com

### 1. Variables

In [ ]:
x = 10
y = 2
z = 0.001

In [ ]:
name = 'Jonatan'
email = 'xblankhallx@gmail.com'

In [ ]:
print(f'Good morning {name}; your email is {email}')

Good morning Jonatan; your email is xblankhallx@gmail.com

### 2. Logical Operations

In [12]:
10**0.0001 >= 5

False

In [ ]:
age = 17

In [14]:
age >= 18

False

In [ ]:
password = 'password'

In [ ]:
psw = input('enter password: ')

enter password: some_password

In [18]:
password == psw

False

### 3. And & Or

In [ ]:
years_of_experience = 2
highest_degree = 'master' # high-school #bachelor #master #PhD

In [20]:
# point-of-view: recruiter
years_of_experience >= 5 and highest_degree == 'master'

False

In [21]:
years_of_experience >= 5 or highest_degree == 'master'

True

### 4. Conditionals

In [ ]:
# Case 1: No secondary condition
age = 17
if age >= 18:
  print('You can enter!')

In [ ]:
# Case 2: 1 secondary condition
age = 15
if age >= 18:
  print('You can enter!')
else:
  diff = 18-age
  if diff == 1:
    print(f'You cannot enter, come back in 1 year!')
  else:
    print(f'You cannot enter, come back in {18-age} years!')

You cannot enter, come back in 3 years!

In [ ]:
# Challenge Exercise -- Level 01
# Log-IN

# real information from the database
username = 'jonatan'
password = 'password'

# information from the "client"
usr = input('user: ')
psw = input('password: ')

# validation
if username == usr and password == psw:
  print('access granted!')
else:
  print('username or password incorrect')

user: 1
password: 2
username or password incorrect

### 5. Lists

In [ ]:
animals = ['Monkey','Turtle','Spider','Shark']

In [31]:
# length of the list = number of elements in the list
len(animals)

4

In [32]:
# display the elements of the list
# by their POSITION

# first element
animals[0]

'Monkey'

In [35]:
# last element
animals[len(animals)-1]

'Shark'

In [36]:
# last element (short version)
animals[-1]

'Shark'

In [ ]:
# add an element
animals.append('Koala')

In [38]:
animals

['Monkey', 'Turtle', 'Spider', 'Shark', 'Koala']

In [39]:
# search for an element in the list
'Tiger' in animals

False

In [ ]:
# Challenge Exercise 2 - Level 01
# Code that allows people to add new animals, but not repeated ones
new_animal = input('add new animal: ')
if new_animal in animals:
  print(f'{new_animal} already in the list')
else:
  animals.append(new_animal)
  print(animals)

add new animal: Monkey
Monkey already in the list

### 6. Loops

In [43]:
animals

['Monkey', 'Turtle', 'Spider', 'Shark', 'Koala']

In [ ]:
for animal in animals:
  print(f'I love the {animal}')

I love the Monkey
I love the Turtle
I love the Spider
I love the Shark
I love the Koala

In [ ]:
# Challenge Exercise 03 - Level 2
# Assume we have a database with the name and age of several people
# Each record is a list;
# The first element is the name, the second is the age

# Challenge: Create a mechanism to select only adults (of legal age)

# Database
data = [
    ['Jonatan',26],
    ['Joshua',22],
    ['Paola',17],
    ['Ingrid',23],
    ['Julian',7]
]

# Algorithm
adults = []
for person in data:
  if person[1] >= 18:
    adults.append(person[0])
print(adults)

['Jonatan', 'Joshua', 'Ingrid']