# My first Python program

## Print e input

In [ ]:
print("Hello world")

Hola mundo

In [ ]:
nombre = "Juan"


print("Welcome to my program",nombre)

Bienvenido a mi programa Juan

In [ ]:
print(f"Bienvenido a mi programa {nombre}")  # F-STRING printing

Bienvenido a mi programa Juan

In [ ]:
print("Bienvenido a mi programa {}".format(nombre))

Bienvenido a mi programa Juan

### INPUT: The INPUT function allows the user to enter some data, is to save them in a variable

In [ ]:
nombre = input("Ingrese su nombre: ")


print(f"Bienvenido a mi programa {nombre}")

Ingrese su nombre: Jonatan
Bienvenido a mi programa Jonatan

### Arithmetic operators

In [ ]:
a = 23
b = 5


print(f"Suma: {a+b}")
print(f"Resta: {a-b}")
print(f"Multiplicación: {a*b}")
print(f"División: {a/b}")

#

Suma: 28
Resta: 18
Multiplicación: 115
División: 4.6

In [ ]:
a = 23
b = 5

# 23 = 5*4 + 3

print(f"División entera: {a//b}")

División entera: 4

In [ ]:
a = 121

b = 3




print(f"Módulo: {a%b}")

Módulo: 1

In [ ]:
a = 81
b = 1/2


print(f"Exponente: {a**b}")  # #Fo getting a root enough to raise a number to 1/2

Exponente: 9.0

### Logical operators

In [ ]:
nombre1 = "Sofia"   # An equal is to as well as a value
nombre2 = "Sófia"

nombre1 == nombre2  # #Do equal allows us to ask a question

False

In [ ]:
a = 45
b = 23

print(a > b) # a is greater than B
print(a < b) # a is less than B
print(a >= b) # a is greater than or equal to b
print(a <= b) # a is less than or equal to b
print(a != b) # a is different than b

True
False
True
False
True

### LEXICOGRAPHIC ORDER IN PYTHON

In [ ]:
a = "Aa"   # An equal is to as well as a value
b = "Ab"

print(a > b) # a is greater than B
print(a < b) # a is less than B
print(a >= b) # a is greater than or equal to b
print(a <= b) # a is less than or equal to b
print(a != b) # a is different than b

False
True
False
True
True

In [ ]:
nombre1 = "Benito"
nombre2 = "Benita"


edad1  = 26
edad2 = 20


print(nombre1 > nombre2 and edad1 > edad2)   # The operator and returns True when all conditions are true

False

In [ ]:
a = 15
b = 15


a < b or a > b  # OR OPERATOR RETURAS FALSE When all conditions are false

False

### Data types in Python

In [ ]:
palabra = "Hola mundo" # string str
entero = 234 # INT
numero_decimal = 23432.123 # float

In [ ]:
lista = ["manzana","pera",123,12,11] # List list
diccionario = {"manzana":"apple","pera":"pear","platanao":"banana"} # DICT DICTION

### List type operations

In [ ]:
lista = ["manzana","pera",123,12,11] # The lists have an order

# Python always starts from 0,

In [ ]:
lista[2]

123

In [ ]:
lista[-1]

11

In [ ]:
lista.append("fresa")

lista

['manzana', 'pera', 123, 12, 11, 'fresa']

In [ ]:
lista.remove("pera")

lista

['manzana', 123, 12, 11, 'fresa']

In [ ]:
del lista[1]

In [ ]:
lista

['manzana', 12, 11, 'fresa']

In [ ]:
expenses = [12,34,11,23,11]

expenses.append(10)

print(expenses)

[12, 34, 11, 23, 11, 10]

Dictionary type operations

In [ ]:
ingresos = {"Josue": 10000, "Ingrid": 14000, "Julian":12000,"Beto":15000}  # Dictionaries use the key-value format

# The first element of each couple is called the key and the second element is called value

In [ ]:
ingresos["Julian"]  # To access the value of a key you have to put the key inside square brackets

12000

In [ ]:
ingresos["Javier"] = 30000

In [ ]:
ingresos

{'Josue': 10000,
 'Ingrid': 14000,
 'Julian': 12000,
 'Beto': 15000,
 'Javier': 30000}

In [ ]:
ingresos.values()

dict_values([10000, 14000, 12000, 15000, 30000])

In [ ]:
ingresos.keys()

dict_keys(['Josue', 'Ingrid', 'Julian', 'Beto', 'Javier'])

In [ ]:
usuarios = {"Benito":{"edad":26,"hobby":"Bateria","ciudad":"México"},
            "Jonatan":{"edad":26,"hobby":"Guitarra","ciudad":"Suecia"},
            "Christina":{"edad":25,"hobby":"Bailar"}
}

In [ ]:
usuarios["Benito"]["hobby"]

'Bateria'

In [ ]:
usuarios["Jonatan"]["ciudad"]

'Suecia'