# Welcome to your second class of Python

## Input function

In [ ]:
nombre = input("Ingrese su nombre: ")

print(f"Hola {nombre} bienvenido a mi programa  en Python")
print("Hola {} bienvenido a mi programa  en Python".format(nombre))

Ingrese su nombre: Daniel
Hola Daniel bienvenido a mi programa  en Python
Hola Daniel bienvenido a mi programa  en Python

In [ ]:
nombre = input("Ingrese su nombre: ")
print("Hello",nombre,"bienvenido a mi programa")

Ingrese su nombre: Daniel
Hola Daniel bienvenido a mi programa

In [ ]:
nombre

'Josue'

## Data type

In [ ]:
flotante = 3.234 # float
entero = 45 # int
cadena = "Hola mundo" # str
booleano = True # bool

### Native Python data types

#### Lists

The lists allow us to work with python arrangements

The things we can do with the lists is:

* Add elements (append)
* Eliminate elements (delete)
* Access some position [num_position]
* Concatenate lists
* See the longitude of a list

In [ ]:
lista = ["manzana","pera",342,23.34,["pera","manzana"],24] # Simple #List database

Add elements

In [ ]:
lista.append("Platano")

Eliminate elements

In [ ]:
lista

['manzana', 'pera', 342, 23.34, ['pera', 'manzana'], 24, 'Platano']

In [ ]:
lista.pop()

'Platano'

In [ ]:
lista.remove("manzana")

In [ ]:
lista

['pera', 342, 23.34, ['pera', 'manzana'], 24]

In [ ]:
lista2 = ["fresa","guayaba","mango"]

In [ ]:
lista + lista2

['pera', 342, 23.34, ['pera', 'manzana'], 24, 'fresa', 'guayaba', 'mango']

In [ ]:
lista

['pera', 342, 23.34, ['pera', 'manzana'], 24]

In [ ]:
lista3 = ['manzana', 'pera','sandia']

lista3[0]

'manzana'

#### Dictionaries

In [ ]:
ingresos = {"Daniel":30000, "Josue":10000, "Maria":20000}

ingresos["Daniel"]

30000

In [ ]:
ingresos["Maria"]

20000

In [ ]:
ingresos["Jose"] = 50000

In [ ]:
ingresos["Daniel"] = 40000

print(ingresos)

{'Daniel': 40000, 'Josue': 10000, 'Maria': 20000, 'Jose': 50000}

In [ ]:
ingresos.keys()

dict_keys(['Daniel', 'Josue', 'Maria', 'Jose'])

In [ ]:
ingresos.values()

dict_values([40000, 10000, 20000, 50000])

In [ ]:
# ## When we use dictionaries, we can make the value of the key also a dictionary
# ## This is very useful since most data on the Internet are saved in that way

In [ ]:
# ## Tinder:

candidatos = {"Maria":{"Hobby":"Patinar","Casado":False,"Edad":30,"Bio":"Me gustan las plantas y los amaneceres"},
              "Saul":{"Hobby":"Guitarra","Casado":True,"Edad":50,"Bio":"Me gustan ir al gymnasio y conocer personas"},
              "Tania":{"Edad":25}}

In [ ]:
candidatos["Tania"]["Edad"]

25

In [ ]:
candidatos.keys()

dict_keys(['Maria', 'Saul', 'Tania'])

In [ ]:
candidatos.values()

dict_values([{'Hobby': 'Patinar', 'Casado': False, 'Edad': 30, 'Bio': 'Me gustan las plantas y los amaneceres'}, {'Hobby': 'Guitarra', 'Casado': True, 'Edad': 50, 'Bio': 'Me gustan ir al gymnasio y conocer personas'}, {'Edad': 25}])

## Conditional

In [ ]:
# ## The conditionals are structures that will allow us to change the flow of the program
# ## Always in a program we have to make decisions
# ## It is good to have a structure that allows us to do


nombre_bar = "Bar python"

edad = int(input("Cuál es tu edad: "))

if edad>=18:
  print(f"Bienvenido a mi bar {nombre_bar}")
else:
  print("You can't pass yet you need to grow a little more")

Cuál es tu edad: 20
Bienvenido a mi bar Bar python

In [ ]:
# # Girl bar
# ## The conditionals are structures that will allow us to change the flow of the program
# ## Always in a program we have to make decisions
# ## It is good to have a structure that allows us to do


nombre_bar = "Bar python"

edad = int(input("Cuál es tu edad: "))
genero = input("Cuál es tu genero: ")

if edad>=18 and genero == "Femenino":  # IF + Condition +:
  print(f"Bienvenido a mi bar {nombre_bar}")
  print("You can pass")
elif edad>=18 and genero!="Femenino":
  print("You can only pass girls")
  print("You can't pass")
else:
  print("You can't pass yet you need to grow a little more")

print("End of the program")

Cuál es tu edad: 30
Cuál es tu genero: Femenino
Bienvenido a mi bar Bar python
Puedes pasar
Fin del programa

Observation: Logical operations

In [ ]:
genero = "Femenino" # When I still make an assignment in Python
genero == "Femenino" # When an same double I make a comparison (question)

True

## Cycles

## Functions

In [ ]:
print("Hello world")

Hola mundo

In [ ]:
apellido = "Benito"

In [ ]:
import pandas as pd


pd.read_csv("/content/planets.csv")

,Planet,Color,Mass (10^24kg),Diameter (km),Density (kg/m^3),Surface Gravity(m/s^2),Escape Velocity (km/s),Rotation Period (hours),Length of Day (hours),Distance from Sun (10^6 km),...,Orbital Period (days),Orbital Velocity (km/s),Orbital Inclination (degrees),Orbital Eccentricity,Obliquity to Orbit (degrees),Mean Temperature (C),Surface Pressure (bars),Number of Moons,Ring System?,Global Magnetic Field?
0,Mercury,Grey,0.330,4879,5429,3.7,4.3,1407.6,4222.6,57.9,...,88,47.4,7.0,0.206,0.034,167,0,0,No,Yes
1,Venus,Brown and Grey,4.870,12104,5243,8.9,10.4,-5832.5,2802.0,108.2,...,224.7,35.0,3.4,0.007,177.400,464,92,0,No,No
2,Earth,"Blue, Brown Green and White",5.970,12756,5514,9.8,11.2,23.9,24.0,149.6,...,365.2,29.8,0.0,0.017,23.400,15,1,1,No,Yes
3,Mars,"Red, Brown and Tan",0.642,6792,3934,3.7,5.0,24.6,24.7,228.0,...,687,24.1,1.8,0.094,25.200,-65,0.01,2,No,No
4,Jupiter,"Brown, Orange and Tan, with White cloud stripes",1898.000,142984,1326,23.1,59.5,9.9,9.9,778.5,...,4331,13.1,1.3,0.049,3.100,-110,Unknown,79,Yes,Yes
5,Saturn,"Golden, Brown, and Blue-Grey",568.000,120536,687,9.0,35.5,10.7,10.7,1432.0,...,"10,747",9.7,2.5,0.052,26.700,-140,Unknown,82,Yes,Yes
6,Uranus,Blue-Green,86.800,51118,1270,8.7,21.3,-17.2,17.2,2867.0,...,"30,589",6.8,0.8,0.047,97.800,-195,Unknown,27,Yes,Yes
7,Neptune,Blue,102.000,49528,1638,11.0,23.5,16.1,16.1,4515.0,...,"59,800",5.4,1.8,0.010,28.300,-200,Unknown,14,Yes,Yes