# Python from scratch
Professor: Jonatan Blank Hall

Contact: www.blankhall.com

### 1. Variables

In [ ]:
x = 10
y = 2
z = 0.001

In [ ]:
name = 'Jonatan'
email = 'xblankhallx@gmail.com'

In [ ]:
print(f'Buenos días {name}; tu correo es {email}')

Buenos días Jonatan; tu correo es xblankhallx@gmail.com

### 2. Logical operations

In [ ]:
10**0.0001 >= 5

False

In [ ]:
age = 17

In [ ]:
age >= 18

False

In [ ]:
password = 'password'

In [ ]:
psw = input('enter password: ')

enter password: contraseña

In [ ]:
password == psw

False

### 3. And & Or

In [ ]:
years_of_experience = 2
highest_degree = 'master' # high-school #bachelor #master #PhD

In [ ]:
# point-of-view: recruiter
years_of_experience >= 5 and highest_degree == 'master'

False

In [ ]:
years_of_experience >= 5 or highest_degree == 'master'

True

### 4. Conditional

In [ ]:
# Case 1: No Secondary Condition
age = 17
if age >= 18:
  print('You can enter!')

In [ ]:
# Case 2: 1 Secondary condition
age = 15
if age >= 18:
  print('You can enter!')
else:
  dif = 18-age
  if dif == 1:
    print(f'No puedes entrar, vuelve en 1 año!')
  else:
    print(f'No puedes entrar, vuelve en {18-age} años!')

No puedes entrar, vuelve en 3 años!

In [ ]:
# CHALLENGE EXERCISE - Level 01
# Log-IN

# real database information
username = 'jonatan'
password = 'password'

# "Client" information
usr = input('user: ')
psw = input('password: ')

# validation
if username == usr and password == psw:
  print('access granted!')
else:
  print('username or passowrd incorrect')

user: 1
password: 2
username or passowrd incorrect

### 5. Lists

In [ ]:
animales = ['Mono','Tortuga','Araña','Tiburón']

In [ ]:
# list length = number of elements on the list
len(animales)

4

In [ ]:
# visualize the elements of the list
# through its position

# First element
animales[0]

'Mono'

In [ ]:
# last element
animales[len(animales)-1]

'Tiburón'

In [ ]:
# Last element (short version)
animales[-1]

'Tiburón'

In [ ]:
# Add an element
animales.append('Koala')

In [ ]:
animales

['Mono', 'Tortuga', 'Araña', 'Tiburón', 'Koala']

In [ ]:
# Find an element on the list
'Tigre' in animales

False

In [ ]:
# Challenge Exercise 2 - Level 01
# Code that allows people to add new animals, but not repeated
animal = input('add new animal: ')
if animal in animales:
  print(f'{animal} already in the list')
else:
  animales.append(animal)
  print(animales)

add new animal: Mono
Mono already in the list

### 6. Cycles

In [ ]:
animales

['Mono', 'Tortuga', 'Araña', 'Tiburón', 'Koala', 'Tigre', 'Elefante']

In [ ]:
for animal in animales:
  print(f'Me encanta el {animal}')

Me encanta el Mono
Me encanta el Tortuga
Me encanta el Araña
Me encanta el Tiburón
Me encanta el Koala
Me encanta el Tigre
Me encanta el Elefante

In [ ]:
# Challenge Exercise 03 - Level 2
# Assume that we have a database with the name and age of several people
# Each record is a list;
# The first element is the name, the second age

# Challenge: Create a mechanism to select only adults

# Database
data = [
    ['Jonatan',26],
    ['Joshua',22],
    ['Paola',17],
    ['Ingrid',23],
    ['Julian',7]
]

# Algorithm
token = []
for person in data:
  if person[1] >= 18:
    token.append(person[0])
print(token)

['Jonatan', 'Joshua', 'Ingrid']